---
// src/components/AboutMe.astro
import personalData from '../data/personal-data.json';
const { profile } = personalData;
---

<div 
  class="col-span-1 md:col-span-2"
  data-aos="fade-left"
  data-aos-delay="200"
>
<div class="interactive-card h-full p-4 bg-gradient-to-br from-primary-100 to-primary-300 dark:from-secondary-800 dark:to-secondary-700 rounded-lg shadow-primary-md dark:shadow-secondary-md">
  <h2 class="text-lg font-semibold mb-2 text-secondary-800 dark:text-primary-100">
    Sobre mí
  </h2>
  <p class="text-secondary-700 dark:text-primary-200 text-sm sm:text-base">
    {profile.about}
  </p>
</div>
</div>