---
// src/components/AboutMe.astro
---

<div class="interactive-card col-span-1 md:col-span-2 p-6 bg-gradient-to-br from-beige-100 to-beige-300 rounded-lg shadow-beige-md">
  <h2 class="text-xl font-semibold mb-4 text-chocolate-800">Sobre mí</h2>
  <p class="text-chocolate-700">
    Apasionado de la programación, me defino por ser una persona con ganas de aprender. No me gusta ser el líder de un grupo pero a pesar de ello podría hacer el esfuerzo.
  </p>
</div>

