---
// src/layouts/BaseLayout.astro
import ThemeSwitch from '../components/ThemeSwitch.astro';
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="./Logo_AzalDev-inverted.jpg" />
    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1L8V06YBW8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-1L8V06YBW8');
    
      // Capturar el parámetro `ref` desde la URL y enviarlo a Google Analytics
      const urlParams = new URLSearchParams(window.location.search);
      const refParam = urlParams.get('ref');
      if (refParam) {
        gtag('event', 'referral_event', {  // Cambié el nombre del evento a `referral_event`
          event_category: 'Referral',
          event_label: refParam,  // Este es el parámetro que indica la fuente (ej. Instagram, LinkedIn, etc.)
          value: 1  // Puedes usar este campo para indicar un valor si lo deseas (opcional)
        });
      }
    </script>
    
  </head>
  <body>
    <ThemeSwitch />
    <main>
      <slot />
    </main>
  </body>
</html>
