---
// src/layouts/BaseLayout.astro
import ThemeSwitch from '../components/ThemeSwitch.astro';
const { title } = Astro.props;


---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="./Logo_AzalDev-inverted.jpg" />
    <title>{title}</title>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FME15F20SL"></script>
<script>
  const GTAG = import.meta.env.PUBLIC_GTAG;

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', GTAG);
</script>

    
  </head>
  <body>
    <!-- <ThemeSwitch /> -->
    <main class="min-h-screen flex flex-col">
      <div class="fixed inset-0 -z-10 h-full w-full bg-beige-50">
        <div class="fixed inset-0 bg-[linear-gradient(to_right,#e0cec7_1px,transparent_1px),linear-gradient(to_bottom,#e0cec7_1px,transparent_1px)] bg-[size:6rem_4rem]"></div>
      </div>
      <slot />
    </main>
  </body>
</html>
